.card__project {
    // background-color: red;
    border: 2px solid #979797;
    border-radius: 8px;
    position: relative;
    width: 14rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 5rem;

    .title {
        // background-color: blue;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .description {
        // background-color: pink;
        font-size: 0.8rem;
        margin-top: 2rem;
    }

    .card__thumbnail {
        // background-color: yellow;
        border: 2px solid #979797;
        border-radius: 13px;
        // padding: 5px;

        width: 10rem;
        height: 6rem;
        position: absolute;
        left: 245px;
        bottom: 65px;
        display: flex;
        justify-content: center;
        align-items: center;

        .view__project {
            border: 2px solid #979797;
            border-radius: 4px;
            padding: 2px 10px;
            margin-top: 9rem;
            font-size: 0.8rem;
        }
    }
}

.container__projects {
    margin-left: 5rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .right {
        margin-left: 20vw;
    }
}

@media screen and (max-width: 768px) {
    .card__project {
        // background-color: red;
        width: 10rem;
        height: 10rem;
        padding-left: 1rem;
        padding-right: 4.2rem;

        .description {
            margin-top: 1rem;
        }

        .card__thumbnail {
            width: 8rem;
            height: 4rem;
            left: 175px;
            bottom: 65px;

            .view__project {
                // padding: 2px 10px;
                margin-top: 7rem;
            }
        }
    }

    .container__projects {
        margin-left: inherit;
        align-items: center;
    }
}
