.side {
    // background-color: #0f6fff;
    display: flex;
    flex-direction: column;
    padding-top: 12vh;
    margin-left: 20px;

    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;

        .profile__picture {
            width: 8rem;
            height: 8rem;
            border: 3px solid #5c5c5c;
            border-radius: 100%;
            background-image: url("../../../../assets/images/profile_pic.png");
            background-size: cover;
            transition: all 0.3s;

            &:hover {
                border-radius: 0;
            }
        }
        .profile__name {
            font-size: 28px;
            padding-top: 10px;
        }
    }

    .info {
        .skills {
            // background-color: blue;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;

            .list {
                display: flex;
                align-items: center;
            }
        }

        .social__links {
            // background-color: #00ff00;
            z-index: 100;
            display: flex;
            gap: 0.8em;
            margin-top: 25%;
            font-size: 1.5rem;

            .social {
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .side {
        // background-color: #f0f000;
        display: flex;
        flex-direction: row;
        align-items: center;

        .profile {
            // background-color: gray;
            margin-right: 2rem;
        }

        .info {
            .skills {
                // background-color: pink;
                margin-top: inherit;
            }

            .social__links {
                // background-color: greenyellow;
                margin-top: 15%;
            }
        }
    }
}
