.home__container {
    // background-color: yellow;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .name__detail {
        margin-top: 6rem;
        margin-left: 5rem;

        .intro {
            // background-color: red;
            font-size: 28px;
        }
        .name {
            // background-color: blue;
            font-size: 64px;
        }
        .quote {
            // background-color: green;
            font-size: 28px;
        }
        .name,
        span {
            color: #707ef5;
        }
    }
}

@media screen and (max-width: 768px) {
    .home__container {
        .name__detail {
            // margin-top: 5rem;
            margin-left: 2rem;
        }
    }
}
