.container__projects {
    margin-left: 5rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .right {
        margin-left: 20vw;
    }
}

@media screen and (max-width: 768px) {
    .container__projects {
        margin-left: 12px;
        margin-right: 12px;
        align-items: center;

        .right {
            margin-left: inherit;
        }
    }
}
